<h2 style="color:white; font-weight:bold;">COLLECT THE COMPLEXES DATA FROM THE API ENDPOINTS</h2>

In [ ]:
import mysql.connector
import pandas as pd
from tabulate import tabulate

In [ ]:
# Connect to your MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='#sql',
    database='Tennis')

<h3 style="color:white; font-weight:bold;">1) List all venues along with their associated complex name</h3>

In [ ]:
# SQL query
query = """SELECT v.venue_name, c.complex_name
FROM  Venues v
JOIN Complexes c ON v.complex_id = c.complex_id;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">2) Count the number of venues in each complex</h3>

In [ ]:
# SQL query
query = """SELECT 
    c.complex_name, 
    COUNT(v.venue_id) AS venue_count
FROM 
    Complexes c
JOIN 
    Venues v ON c.complex_id = v.complex_id
GROUP BY 
    c.complex_name
ORDER BY 
    venue_count DESC;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">3) Get details of venues in a specific country (e.g., Chile)</h3>

In [ ]:
#query
query = """SELECT *
FROM Venues
WHERE country_name = 'Chile';
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df


<h3 style="color:white; font-weight:bold;">4) Identify all venues and their timezones</h3>

In [ ]:
#query
query = """SELECT venue_name, timezone
FROM Venues;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">5) Find complexes that have more than one venue</h3>

In [ ]:
#query
query = """SELECT c.complex_id, c.complex_name, COUNT(v.venue_id) AS venue_count
FROM Complexes c
JOIN Venues v ON c.complex_id = v.complex_id
GROUP BY c.complex_id, c.complex_name
HAVING COUNT(v.venue_id) > 1;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">6) List venues grouped by country</h3>

In [ ]:
#query
query = """SELECT country_name, COUNT(*) AS venue_count
FROM Venues
GROUP BY country_name
ORDER BY venue_count DESC;;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">7) Find all venues for a specific complex (e.g., Nacional)</h3>

In [ ]:
#query
query = """SELECT v.venue_name, v.city_name, v.country_name,c.complex_name
FROM Venues v
JOIN Complexes c ON v.complex_id = c.complex_id
WHERE c.complex_name = 'Nacional';
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df