In [ ]:
# Connect to your MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='#sql',
    database='Tennis'
)

In [ ]:
import mysql.connector
import pandas as pd
from tabulate import tabulate

<h2 style="color:white; font-weight:bold;">COLLECT THE COMPETITION DATA FROM THE API ENDPOINTS</h2>

<h3 style="color:white; font-weight:bold;">1)	List all competitions along with their category name</h3>

In [ ]:
# SQL query
query = """SELECT c.competition_name, ca.category_name
FROM Competitions c
JOIN Categories ca ON c.category_id = ca.category_id"""
# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

# Optional: Pretty-print as text using tabulate (for CLI/console output or debugging)
#print(tabulate(df, headers='keys', tablefmt='psql'))

<h3 style="color:white; font-weight:bold;">2) Count the number of competitions in each category</h3>

In [ ]:
# SQL query
query = """SELECT ca.category_name, COUNT(c.competition_id) AS competition_count 
FROM Competitions c
JOIN Categories ca ON ca.category_id = c.category_id 
GROUP BY ca.category_name;"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">3) Find all competitions of type 'doubles'</h3>

In [ ]:
# SQL query
query = """SELECT competition_name
FROM Competitions
WHERE type = 'doubles';"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">4) Get competitions that belong to a specific category (e.g., ITF Men)</h3>

In [ ]:
# SQL query
query = """SELECT c.competition_name, ca.category_name
FROM competitions c
JOIN categories ca ON c.category_id = ca.category_id
WHERE ca.category_name = 'ITF Men';"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">5) Identify parent competitions and their sub-competitions</h3>

In [ ]:
# SQL query
query = """SELECT parent_id, competition_name
FROM Competitions
WHERE parent_id IS NOT NULL;"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">6) Analyze the distribution of competition types by category</h3>

In [ ]:

# SQL query
query = """SELECT category_id, type, COUNT(*) AS total
FROM Competitions
GROUP BY category_id, type
ORDER BY  total ASC;
"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df

<h3 style="color:white; font-weight:bold;">7) List all competitions with no parent (top-level competitions)</h3>

In [ ]:
# SQL query
query = """SELECT * 
FROM Competitions 
WHERE parent_id IS NULL;"""

# Read query into DataFrame
df = pd.read_sql(query, conn)

# Default Jupyter display (no need for tabulate)
df