<h2 style="color:white; font-weight:bold;">3) COLLECT THE DOUBLES COMPETITOR RANKINGS DATA FROM THE API  ENDPOINTS</h2>

In [ ]:
import mysql.connector
import pandas as pd
from tabulate import tabulate

In [ ]:
# Connect to your MySQL database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='#sql',
    database='Tennis')


<h3 style="color:white; font-weight:bold;">1)Get all competitors with their rank and points</h3>

In [ ]:
# SQL query
query = """SELECT c.name, r.rank, r.points
FROM Competitors c
JOIN Competitor_Rankings r ON c.competitor_id = r.competitor_id;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df

<h3 style="color:white; font-weight:bold;">2) Find competitors ranked in the top 5</h3>

In [ ]:
# SQL query
query = """SELECT c.name, r.rank, r.points
FROM Competitors c
JOIN Competitor_Rankings r ON c.competitor_id = r.competitor_id
WHERE r.rank <= 5
ORDER BY r.rank;

"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df

<h3 style="color:white; font-weight:bold;">3) List competitors with no rank movement (stable rank)</h3>

In [ ]:
# SQL query
query = """SELECT c.name, r.rank, r.points, r.movement
FROM competitors c
JOIN competitor_rankings r ON c.competitor_id = r.competitor_id
WHERE r.movement = 0;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df

<h3 style="color:white; font-weight:bold;">4) Get the total points of competitors from a specific country (e.g., Croatia)</h3>

In [ ]:
# SQL query
query = """SELECT c.country, SUM(r.points) AS total_points
FROM Competitors c
JOIN Competitor_Rankings r ON c.competitor_id = r.competitor_id
WHERE c.country = 'Croatia'
GROUP BY c.country;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df

<h3 style="color:white; font-weight:bold;">5) Count the number of competitors per country</h3>

In [ ]:
# SQL query
query = """SELECT country, COUNT(competitor_id) AS num_competitors
FROM Competitors
GROUP BY country;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df

<h3 style="color:white; font-weight:bold;">6) Find competitors with the highest points in the current week</h3>

In [ ]:
# SQL query
query = """SELECT c.competitor_id, c.name, r.points
FROM Competitors c
JOIN Competitor_Rankings r ON c.competitor_id = r.competitor_id
ORDER BY r.points DESC
LIMIT 3;
"""
# Read query into DataFrame
df = pd.read_sql(query, conn)
df